* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  gap: 1ch;
  box-shadow: 0.5px 0 5px grey;
}

header>.icon {
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 2rem;
  flex-wrap: wrap;
}

input[type="text"] {
  height: 32px;
  flex-grow: 1;
  min-width: 250px;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0 8px;
  transition: all 0.1s;
  outline: none;
}

button[type="submit"] {
  padding: 0 8px;
  border-radius: 8px;
  border: none;
  background-color: rgb(20, 20, 20);
  color: white;
  transition: border 0.1s;
  min-height: 1.8rem;
}

input[type="text"]:hover {
  border: 3px double black;
  outline: none;
  box-shadow: 0 0 1px 3px #417bff;
}

button[type="submit"]:hover {
  border: 3px double white;
}

.generating-ingredients {
  flex-direction: column;
  padding: 0 32px;
}

.ingredient-list {
  padding-left: 10px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredient-list>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 5px 0;
}

.remove-ingredient {
  background-color: #c21a20a5;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: all 0.2s;
  font-weight: 600;
  min-height: 2rem;
}

.remove-ingredient:hover {
  border: 2px solid #fff;
  font-weight: 500;
  box-shadow: 0 0 5px #c21a20e7;
}

.get-recipe-container {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: rgba(251, 238, 134, 0.616);
  border-radius: 1rem;
}

.get-recipe-container>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.get-recipe {
  padding: 0 16px;
  border-radius: 12px;
  min-height: 40px;
  align-self: center;
  border: 2px solid rgb(1, 184, 10);
  background-color: rgb(119, 230, 109);
  transition: all 0.2s;
}

.get-recipe:hover {
  box-shadow: 0 0 3px rgb(61, 95, 62);
  font-weight: 600;
}  

.generated-recipe {
  padding: 24px 40px;
  margin: 40px auto 16px auto;
  background-color: rgb(253, 250, 246);
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  border-radius: 16px;
  transition: all 0.2s;
}

.generated-recipe:hover {
  box-shadow: 0 0 5px grey;
}

.get-recipe.generating {
  animation: loading 2s ease-in-out 0s infinite alternate;
}

@keyframes loading {
  0% {
    opacity: 1;
    background-color: rgb(119, 230, 109);
  }
  50% {
    opacity: 0;
    background-color: #cce72c;
  }
  100% {
    opacity: 1;
    background-color:  rgb(119, 230, 109);
  }
}